

.container{
    background-color: rgb(179, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    overflow:hidden;

}
.box{
    background-color: #8edfdf;
    border-radius: 8px;
    height: auto;
    width: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.button-div{
    margin: 30px 0px;
    
}


.button{
    text-decoration: none;
    color: #fff;
    background-color: green;
    padding: 10px 50px;
    border-radius: 10px;
    transition: all .3s ease-in-out;
    
}
.button:hover{
    color: black;
    background-color: #46cf41;
}
.heading{
    font-size: 50px;
}

.list li{
    padding: 8px;

}
